.fontsize-smaller{
  font-size: smaller;
}
.heading-font-1{
  font-family: 'Questrial', sans-serif;
}
.nav-item-fonts{
  font-family: 'Rubik', sans-serif;
}
.bg-light-1{
  background-color: #f4f4f4;
}
.font-size-large{
  font-size: large !important;
}
.font-size-larger{
  font-size: larger !important;
}
